:root {
	/* general colors */
	--White: #fff;
	--Platinum: #e8ebe4;
	--Gray: #bec1bb;
	--BlueBell: #a491d2;
	--PaleLavender: #d4dcff;
	--DarkJungle: #1b1f21;
	--OuterSpace: #444749;
	--OldSilver: #828485;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: "Raleway", sans-serif;
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

/* Reusables */
.text-center {
	text-align: center;
}

.container-1366 {
	max-width: 136rem;
}

 /* GRID LAYOUT  */
 .body_container {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "nav"
    "seach_filter"
    "main"
    "footer";
    /* grid-template-rows: 4rem 7rem 1fr 8rem;   */
    background-color: #232323;
 }

 /* NAVBAR */
 .nav_container {
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18rem;
 }
 .desktop_menu {
    display: none;
 }

 .icon a { 
    text-decoration: none;
    font-weight: 700;
    color: white;
 }

 .icon a span { 
    color: rgb(89, 157, 225);
    text-transform: uppercase;
    font-weight: 900;
 }  

/* FILTER */
 .seach_filter {
    grid-area: seach_filter;
    background-color: #444749;
    color: #bec1bb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
 }

 .seach_filter select {
    width: 70%;
    border-radius: .5rem;
 }
/* MAIN */

 .main_container {
    grid-area: main;
 }

 .movie_container {
    height: 70vh;
    overflow-y: scroll;
 }

 .card_container {
    max-width: 34rem;
    margin: 1rem auto 3rem auto;
    border-bottom: #828282 solid .1rem;
}

.card_container a {
    text-decoration: none;
}

.card_container a h2 {
    margin: 0;
    color: #fff;
}

.btn_ver {
    display: flex;
    justify-content: center;
    background-color: rgb(89, 157, 225);
    border-radius: .5rem;
    padding: .2rem;
    margin: 1rem 0;
}

.btn_ver a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

 .carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: .8rem;
 }

.carrusel a {
    color: #fff;
}

/* FOOTER */
 .footer_container {
    grid-area: footer;
    background-color:#444749;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .social_media {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: .5rem;
 }

 .social_media img {
    margin: 0 auto;
    width: 4rem;
 }

 .social_media a { 
    color: #fff;
 }

 .derechos {
    color: #fff;
    margin: 0;
    font-size: 1.2rem;
 }

 .derechos span {
    color: rgb(89, 157, 225);
    text-transform: uppercase;
    font-weight: 900;
 }
