:root {
	/* general colors */
	--Blue: rgb(64, 134, 204);
	--White: #fff;
	--LightGrey: #bec1bb;
	--Black: #0000;
	--blackGrey: #232323;
	--PaleLavender: #d4dcff;
	--DarkJungle: #1b1f21;
	--OuterSpace: #444749;
	--OldSilver: #828485;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: "Raleway", sans-serif;
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

/* Reusables */
.text-center {
	text-align: center;
}

.container-1366 {
	max-width: 136rem;
}

/* GRID LAYOUT  */
.body_container {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		"nav"
		"seach_filter"
		"main"
		"footer";
	/* grid-template-rows: 4rem 7rem 1fr 8rem;   */
	background-color: var(--blackGrey);
}

/* NAVBAR */
.nav_container {
	grid-area: nav;
	background-color: var(--DarkJungle);
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 18rem;
}
.desktop_menu {
	display: none;
}

.icon a {
	text-decoration: none;
	font-weight: 700;
	color: var(--White);
}

.icon a span {
	color: var(--Blue);
	text-transform: uppercase;
	font-weight: 900;
}

/* FILTER */
.seach_filter {
	grid-area: seach_filter;
	background-color: var(--OuterSpace);
	color: var(--LightGrey);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.seach_filter select {
	width: 70%;
	border-radius: 0.5rem;
}
/* MAIN */

.main_container {
	grid-area: main;
}

.movie_container {
	height: 70vh;
	overflow-y: scroll;
}

.card_container {
	max-width: 34rem;
	margin: 1rem auto 3rem auto;
	border-bottom: var(--LightGrey) solid 0.1rem;
}

.card_container a {
	text-decoration: none;
	color: var(--White);
	transition: all 0.3s ease;
}

.card_container a:hover {
	color: var(--Blue);
	text-decoration: underline;
}

.card_container h2 {
	margin: 0;
}

.btn_ver a {
	color: var(--White);
	text-decoration: none;
	font-weight: 700;
	background-color: var(--Blue);
	border-radius: 0.5rem;
	width: 100%;
	padding: 0.2rem 0;
	margin: 1rem auto;
	display: block;
	text-align: center;
	transition: color, 0.3s ease;
}
.btn_ver a:hover {
	background-color: rgb(9, 80, 138);
	box-shadow: 0.3rem 0.3rem 0.5rem var(--OuterSpace);
	color: var(--White);
	font-weight: bold;
}

.carrusel {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	gap: 0.8rem;
}

.carrusel a {
	color: var(--White);
}

/* FOOTER */
.footer_container {
	grid-area: footer;
	background-color: var(--OuterSpace);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.social_media {
	display: flex;
	justify-content: center;
	gap: 5rem;
	padding: 0.5rem;
}

.social_media img {
	margin: 0 auto;
	width: 4rem;
}

.social_media a {
	color: var(--White);
}

.derechos {
	color: var(--White);
	margin: 0;
	font-size: 1.2rem;
}

.derechos span {
	color: var(--Blue);
	text-transform: uppercase;
	font-weight: 900;
}
